---
import "../styles/global.css";
import { ui } from "../pages/i18n/ui.js";
---

<!doctype html>
<html lang="en" data-theme="light" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body class="h-full bg-base-200 text-base-content">
    <nav
      class="navbar bg-base-100 shadow-md px-6 py-3 flex justify-between items-center"
    >
      <div class="flex items-center gap-3">
        <a href="/"> <img src="/favicon.svg" alt="Logo" class="w-8 h-8" /></a>
        <h1 class="text-xl font-bold tracking-wide">Astro Basics</h1>
      </div>

      <div class="flex items-center gap-3">
        <form method="POST" action={Astro.url.pathname} class="m-0">
          <select
            name="language"
            class="select select-bordered select-sm"
            onchange="this.form.submit()"
          >
            <option disabled selected>{ui["en"].nav.language}</option>
            <option value="en">English</option>
            <option value="fr">Français</option>
          </select>
        </form>
        <form method="POST" action="/gallery/" class="m-0">
          <button type="submit" class="btn btn-sm btn-outline"
            >Galerie d'avatars</button
          >
        </form>
        <form method="POST" action="/signup" class="m-0">
          <button type="submit" class="btn btn-sm btn-primary">Sign Up </button>
        </form>
        <form method="POST" action="/login" class="m-0">
          <button type="submit" class="btn btn-sm btn-primary">Login</button>
        </form>
        <form method="POST" action="/api/logout" class="m-0">
          <button type="submit" class="btn btn-sm btn-primary">Logout</button>
        </form>
      </div>
    </nav>

    <main class="flex-1 min-h-0 px-6 py-8">
      <slot />
    </main>

    <footer
      class="footer footer-center p-4 bg-base-300 text-base-content mt-auto"
    >
      <aside>
        <p>© 2025 Astro Basics — Built with Astro & Tailwind</p>
      </aside>
    </footer>
  </body>
</html>
